body {
  margin: 0;
  padding: 0;
  background: yellow;
}

#container {
  margin: 5%;
  background: red;
  height: 75vh;
}

.main {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.main p {
  text-align: center;
}

.main button {
  color: red;
  margin: 2%;
}
